extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h2.display-4.m-b-2

        div#outcont
          h3= `Name: ${app.name}`
          h5= `Email Address: ${app.email}`
          h5= `Phone Number: ${app.phone}`
          h5 Application Letter:
          p=app.letter
          h5 Education:
          p= `School:${app.education.school}`
          p= `Field:${app.education.field}`
          p= `Grade:${app.education.grade}`
          p= `From:${app.education.from_date} - To:${app.education.to_date}`
          h5 Experience:
          p= `Company:${app.experience.company}`
          p= `Industry:${app.experience.industry}`
          p= `Title:${app.experience.title}`
          p= `From:${app.experience.from_date} - To:${app.experience.to_date}`